body{
    background-color: #4a4949;
    font-family: Montserrat;
    padding-top: 5%;
}



.game{
    text-align: center;
    background-color: gray;
    height: 800px;
    width: 600px;
    margin: auto auto;
}

.knopka{
    font-size: 329%;
    color: white;
    text-align: center;
    margin: 5% 0 10px;
    background-color: rgb(40, 66, 104, 0.75);
    border-radius: 30px;
    width: 200px; height: 80px;
}

.balance{
    padding: 10%;
    color: white;
    font-size: 430%;
    text-shadow: 1.5px 1px #284268;
}


.board{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(185, 185, 185);
}


.fa{
    color:white; 
    text-shadow: 0.7px 0.5px #284268
}



.shake-animation {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}
